# Copy sang .env và điền giá trị thật trước khi chạy / build
VITE_API_URL=
VITE_GHN_TOKEN=
VITE_GHN_SHOP_ID=
VITE_GHN_FROM_DISTRICT_ID=1492
VITE_GHN_FROM_WARD_CODE=1A0501
VITE_GHN_SERVICE_TYPE_ID=2
VITE_GHN_URL_PROVINCE=https://online-gateway.ghn.vn/shiip/public-api/master-data/province
VITE_GHN_URL_DISTRICT=https://online-gateway.ghn.vn/shiip/public-api/master-data/district
VITE_GHN_URL_WARD=https://online-gateway.ghn.vn/shiip/public-api/master-data/ward
